body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}	

.card .card-content .card-title {
  line-height: 12px;
    font-size: 18px;
}

#bookDetails img{
  height: 380px;
}

main {
	flex: 1 0 auto;
}

.animated{
	-webkit-transition: all 2s;
    transition: all 2s;
}

@-webkit-keyframes fadeInUpSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0px, 20px, 0);
    -ms-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.fadeInUpSmall {
  -webkit-animation-name: fadeInUpSmall;
  animation-name: fadeInUpSmall;
}

#bookDetails {
  margin-top: 2em;
}
